header{
    background-image: url(../img/ba1.jpg);
    background-position: bottom;
    text-align: end;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    min-height: 70vh;
    overflow-wrap:normal;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../img/ba1.jpg);
    font-size: 1rem;
}

header div{
    position: absolute;
    right: 1rem;
    bottom: 3rem;
}



li{
    display: inline-block;
}

nav ul{
    float: right;
}

.enviar{
    background-color: #96C93E;
    color: #006600
}

.linea{
    float: right;
}